*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: "Raleway", sans-serif;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    color: black;
    height: 50px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.navbar .logo{
    position: absolute;
    left: 10px;
    top: 10px;
}
.navbar .links{
    position: absolute;
    right: 15px;
}
.links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links ul li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
}
.links ul li:hover{
    background-color: grey;
}
.main1{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("https://www.w3schools.com/w3images/mac.jpg");
    color: white;
}
.main1 .heading{
    position: absolute;
    top: 250px;
}
.main1 .heading p{
    margin-left: 75px;
    font-size: 25px;
    margin-top: -13px;
}
.main1 .heading h1{
    font-size: 64px;
    margin-left: 70px;
    line-height: 1.9;
}
.main1 .heading button{
    background: grey;
    font-size: 30px;
    outline: none;
    border: none;
    margin-top: 25px;
    margin-left: 82px;
    color: white;
    padding: 10px;
}
.main1 .menu{
    position: absolute;
    bottom: 1px;
    left: 20px;
}
.menu{
    display: flex;
    align-items: center;
    align-items: center;
    background-color: transparent;
    box-shadow: cornsilk;
    overflow: hidden;
}
.menu .icons{
    padding: 15px 5px;
    font-size: 10px;
    position: relative;
    transition: transform 0.5s;
    
}
.menu .icons:hover{
    transform: translateY(-100%);
     
}
.menu span{
    position: absolute;
    color: lightblue;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: 10px 5px;
    border-bottom: 5px solid #ff5361;
}
.main2{
    padding: 0 100px 0 100px;
    height: 70vh;
}
.main2 h1,h2{
  text-align: center;
}
.main2 h1{
    margin-top: 150px;
    font-size: 30px;
    font-weight: 100;
}
.main2 h2{
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 87px;
    font-weight: 500;
}
.main2 .features{
    display: flex;
    padding: 0 40px 0px 47px;

}
.features .fa{
    font-size: 60px;
    margin-left: 113px;
}
.features p{
    width: 311px;
    text-align: center;
}
.features h1{
    margin-top: 55px;
    font-size: 25px;
    margin-left: -32px;
    margin-bottom: 20px;
}
.main3{
    background-color: antiquewhite;
    padding: 128px 16px;
}
.main3 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main3 .content .image{
    margin-right: 100px;
}
.main3 .content img{
    height: 360px;
    width: 630px;

}
.main3 .content .text{
    width: 500px;
    margin-left: 15px;
    margin-top: -177px;
}
.main3 .content .text h1{
    font-size: 40px;
    line-height: 2.2;
    font-weight: 400;
}
.main3 .content .text  p{
    font-size: 16px;
}
.main3 .content button{
    margin-top: 15px;
    padding: 13px 17px;
    font-size: 20px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
}
.main4{
    background-color: white;
    padding: 20px;
    margin-top: 100px;
}
.main4 .cards{
    display: flex;
    justify-content: space-between;
}
.main4 h1,h2{
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.main4 .card-1 img{
    width: 330px;
    height: 220px;

}
.main4 .card-1{
    margin-top: 50px;
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    width: 330px;
}
.main4 .card-1 h3{
    font-size: 17px;
    font-weight: 500;
}
.main4 .card-1 p{
    color: grey;
    font-size: 15px;
    margin-left: 7px;
    margin-top: -15px;
    margin-bottom: 10px;

}
.main4 .card-1 h1{
    font-weight: 400;
    line-height: 2.8;
    text-align: start;
    font-size: 29px;
    margin-left: 10px;
}

.main4 .card-1 button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.main4 .card-1 button{
    background: black;
    color: white;
    padding: 8px 115px;
    font-size: 18px;
    margin-top: 17px;
}
.main5{
    margin-top: 130px;
    padding: 20px;
    background-color: #616161;
    color: white;
}
.main5 .col{
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: space-evenly;
}
.main7 .pricing{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 85px;
}
.main7 .price{
    width: 399px;
    
}
.main7 .black-strip{
    background-color: black;
    color: white;
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    line-height: 3;
}
.main7 h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 2;
}
.main7 .pricing h1{
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}
.main7 .h1-big{
    line-height: 1.5;
    font-size: 50px;
}
.main7 .btn-strip{
    background: lightgrey;
    height: 80px;
}
.main7 button{
    margin-top: 18px;
    background: black;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    outline: none;
    border: none;
    margin-left: 115px;
}
.main8 .address h2{
    text-align: left;
    font-size: 24px;
}
.main8 .address{
    padding: 20px;
    background-color: lightgrey;
}
.main8 form{
    margin-top: -21px;
    background-color: lightgrey;
    padding: 20px;
}
.main8 form input{
    margin-top: 200px;
    display: block;
    width: 99%;
    margin: 5px;
    padding: 8px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    outline: none;
}